/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

img{
    position: absolute;
    display: block;
    left: calc(50vw - 200px);
}

canvas{
    position: absolute;
    display: block;
    left: calc(50vw - 200px);
}

footer{
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 420px;
}
